<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>product_list</title>
    <style type="text/css">
        .named_list {
            font-size:12pt;
            color:green;
            display:inline-block;
            width: 300px;
            text-align : left;
            }
    </style>
</head>
<body>
    <h2 align="center">Список всех продуктов</h2>
    <center>
        {% for product in products %}
        <form action="" method="POST">
            <label for="edit_prod" class="named_list">{{product['med_name']}}</label>
            <label for="edit_prod" class="named_list">{{product['med_price']}}</label>
            <label for="edit_prod" class="named_list">{{product['med_amount']}}</label>
            <button type="submit" name=action id=edit_prod value="edit_prod">Редактировать</button>
            <button type="submit" name=action value="del_prod">Удалить</button>
            <input type="hidden" name="prod_id" value={{product['id_med']}}>
        </form>
        {% endfor %}
        <br><br>
        <a href="#">Добавить продукт</a>
        <br><br>
        <a href="{{url_for('menu_choice')}}">Окончание редактирования</a>
    </center>
</body>
</html>